/* code adapted from https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
  border: solid #d08c60;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
}
.arrow:hover{
  border-width: 0 5px 5px 0;
  margin-left: 3px;
}

.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.delete {
  color: red;
  text-emphasis: bold;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  font-family: 'Roboto';
}

/* .todo-list {
  float: left;
} */
  