/* Beginning of style.css */


#pomodoro{


}

#leaves{
    position: relative;
    float: top;
}

#div1, #div2 {
    float: left;
    width: 1000px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

#encapsulate {
    border-radius: 10000px;
    position: fixed;
    top: 25px;
    right: 0px;
    width: 350px;
}

#reset{
    padding-left: 98px;
}

#app-4 {
    font-size: 24px;
}

img {
    position: relative;
    width: 300px;
    height: 300px;
}

p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    
}

.day {
    background-color: #c9cba3;
    color: #997b66;
}

.night {
    background-color: #355070;
    color: #b56576;
}

button[data-setter] {
  outline: none;
  background: transparent;
  border: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  width: 25px;
  height: 30px;
  color: beige;
  cursor: pointer;
}

button[data-setter]:hover {
    opacity: 0.5;
}
  
  .setters {
    position: absolute;
    left: 85px;
    top: 75px;
  }
  
  .minutes-set {
    float: left;
    margin-right: 28px;
  }
  
  .seconds-set { float: right; }
  
  .controlls {
    position: absolute;
    left: 75px;
    top: 105px;
    text-align: center;
  }
  
  .display-remain-time {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 65px;
    color: #F7958E;
  }
  
  #pause {
    outline: none;
    background: transparent;
    border: none;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: relative;
    color: beige;
  }

.play::before {
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid beige;
}

.pause::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    width: 15px;
    height: 30px;
    background-color: transparent;
    border-radius: 1px;
    border: 5px solid beige;
    border-top: none;
    border-bottom: none;
}
  
  #pause:hover { opacity: 0.8; }
  
  .e-c-base {
    fill: none;
    stroke: #B6B6B6;
    stroke-width: 4px
  }
  
  .e-c-progress {
    fill: none;
    stroke: #F7958E;
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
  }
  
  .e-c-pointer {
    fill: #FFF;
    stroke: #5E503F;
    stroke-width: 2px;
  }
  
  #e-pointer { transition: transform 0.7s; }


  .switch {
    position: relative;
    float: left;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.switch p {
    font-size: 12px;
    padding-left: 55px;
    padding-top: 1px;
    width: 90px;
    font-weight: bold;
}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #A9927D;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #A9927D;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  #header-text {
    text-align: center;
  }


body{
  background:#2c3e50;
  font-family: 'Open Sans', sans-serif;
}

 button{
  background-color: #F7958E;
  color:#FFFFFF;
  text-align: center;
}

 