/* Beginning of style.css */

#div1, #div2 {
    float: left;
    width: 1000px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

#app-4{
    font-size: 24px;
}

img {
    width: 80px;
    height: 80px;
} 

p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }

#circlePadding {
  padding: 10px;
  border: 1px;
}

#controlsPadding {
  padding: 10px;
  border: 1px;
}

button[data-setter] {
  outline: none;
  background: transparent;
  border: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  width: 25px;
  height: 30px;
  color: #F7958E;
  cursor: pointer;
}
  
  button[data-setter]:hover { opacity: 0.5; }
  
  .setters {
    position: absolute;
    left: 85px;
    top: 75px;
  }
  
  .minutes-set {
    float: left;
    margin-right: 28px;
  }
  
  .seconds-set { float: right; }
  
  .controlls {
    position: absolute;
    left: 75px;
    top: 105px;
    text-align: center;
  }
  
  .display-remain-time {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 65px;
    color: #F7958E;
  }
  
  #pause {
    outline: none;
    background: transparent;
    border: none;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: relative;
  }
  
  .play::before {
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid #F7958E;
  }
  
  .pause::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    width: 15px;
    height: 30px;
    background-color: transparent;
    border-radius: 1px;
    border: 5px solid #F7958E;
    border-top: none;
    border-bottom: none;
  }
  
  #pause:hover { opacity: 0.8; }
  
  .e-c-base {
    fill: none;
    stroke: #B6B6B6;
    stroke-width: 4px
  }
  
  .e-c-progress {
    fill: none;
    stroke: #F7958E;
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
  }
  
  .e-c-pointer {
    fill: #FFF;
    stroke: #F7958E;
    stroke-width: 2px;
  }
  
  #e-pointer { transition: transform 0.7s; }
