/* Beginning of style.css */

#div1, #div2 {
    float: left;
    width: 1000px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

#app-4{
    font-size: 24px;
}

img {
    width: 80px;
    height: 80px;
}

.base-timer {
    position: relative;
    height: 300px;
    width: 300px;
}
  

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: pink;
}

.base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.base-timer__path-remaining {
stroke-width: 7px;

stroke-linecap: round;

transform: rotate(90deg);
transform-origin: center;

transition: 1s linear all;
stroke: currentColor;
}

.base-timer__svg {
transform: scaleX(-1);
}

p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }